/* ------------ aside ------------- */
.settings aside .profilePhoto {
	background-image: url("../res/img/user_photo.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 255px;
}

.settings aside .name {
	text-align: center;
	font-size: 24px;
	font-family: 'Times New Roman';
	text-shadow: #444 1px 1px 3px;
}
/* ------------------------------- */


