.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
}

.booking-block {
    text-align: center;
    padding: 20px;
}

.img-thumbnail {
    max-height: 300px;
    max-width: 600px;
}

.room-types {
    border: 1px solid #dfdfdf;
    padding: 5px;
    border-radius: 10px;
}

.media-body {
    padding: 15px;
}