<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
    
    <title>404 Hotel</title>

        <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <!-- My styles !-->
    <link href="../res/css/mystyles.css" rel="stylesheet">
</head>
    
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
                
            </div>
        </div>
    </nav>
    
    <div class="row-content">
        <div class="col-sm-2 sidebar">
            <div class="nav nav-sidebar">
                <li class="active"><a href="#">Notifications</a></li>
                <li><a href="#">Room Types</a></li>
                <li><a href="#">Orders</a></li>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="tabbable"> <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">Section 1</a></li>
                    <li><a href="#tab2" data-toggle="tab">Section 2</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <ul class="notifications">
                            <li class="my-border">Notification 1</li>
                            <li class="my-border">Notification 2</li>
                            <li class="my-border">Notification 3</li>
                            <li class="my-border">Notification 4</li>
                            <li class="my-border">Notification 5</li>
                            <li class="my-border">Notification 6</li>
                            <li class="my-border">Notification 7</li>
                            <li class="my-border">Notification 8</li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab2">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>