<div>
<p>
	Booked orders
	<p>
		Roomtype: {{ finishOrder.roomTypeName }}
	</p>
	<p>
		{{ finishOrder.roomTypeDescription }}
	</p>
	<p>
		Ordered for: {{ finishOrder.client }}
	</p>
	<p>
		Room ordered for {{ finishOrder.livingPersons }} people.
	</p>
	<p>
		From {{ finishOrder.arrival }} to {{ finishOrder.departure }}
	</p>
	<p>
		Category: {{ finishOrder.categoryName }}
	</p>
	<p>
		Categody cost: {{ finishOrder.categoryCost }}
	</p>
	<p>
		Living cost: {{ finishOrder.livingCost }}
	</p>
	<p>
		Sum: {{ finishOrder.categoryCost + finishOrder.livingCost }}
	</p>
</p>
	<button type="submit" id="acceptButton" class="btn btn-success">Accept</button>
	<button type="submit" id="declineButton" class="btn btn-danger">Decline</button>
</div>