<aside class="col-sm-2 sidebar">
	<ul class="nav nav-sidebar">
		<li><a href="#/notifications">Notifications</a></li>
		<li><a href="#/orders">Orders</a></li>
		<li><a href="#/users">Users</a></li>
		<li><a href="#/rooms">Rooms</a></li>
		<li><a href="#/blocks">Blocks</a></li>
		<li><a href="#/maintenances">Maintenances</a></li>
		<li><a href="#/categoryies">Categoryies</a></li>
		<li><a href="#/notificationTypes">Notification types</a></li>
		<li><a href="#/roomTypes">Room types</a></li>
	</ul>
</aside>