<div class="container">

    <ng-include src="'app/admin/template/aside.html'"></ng-include>

    <div class="workspace col-sm-10">

        <!-- Top of workspace -->
        <div class="top col-sm-12">
            <h2>Categories</h2>
            <button class="btn btn-primary btn-md newEntity" ng-if="isAdmin" ng-click="prepareToAddCategory()">New Category</button>
        </div>
        <ng-include src="'app/admin/template/serverError.html'"></ng-include>


        <!-- List of objects in workspace -->
        <div class="listOfObjects" ng-if="!modificationMode">
            <ul class="pager">
                <li><a ng-click="previousCategories()"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                <li><input type="number" min="1" max="999" ng-model="pager.objectsOnPage"></li>
                <li><a ng-click="nextCategories()"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
            </ul>

            <div class="err" ng-if="errMessage == 'existMaintenance'">
                Complimentary is already exist in this category! <i class="fa fa-times" aria-hidden="true"></i>              
            </div>

            <div ng-repeat="category in filteredListOfCategories.length && filteredListOfCategories || originListOfCategories | orderBy : 'categoryTitle' | limitTo : pager.objectsOnPage : pager.startPaging" class="col-sm-6">
                <div class="block-border clearfix">
                    <div class="admin-notes">
                        <p> Title: {{ category.categoryTitle }} </p>
                        <p class="top-bottom-border"> Price: {{ (category.categoryPrice / 100).toFixed(2) }} $ </p>
                        <p class="col-sm-12 order-padding-top-bottom listButton"
                                ng-if="expand.id != category.objectId" ng-click="expand.id = category.objectId">
                            List of complimentaries
                        </p>
                        <p class="col-sm-12 order-padding-top-bottom listButton"
                                ng-if="expand.id == category.objectId" ng-click="expand.id = 0">
                            Hide list
                        </p>
                    </div>

                    <div class="col-sm-12 table-responsive order-top-border" ng-if="expand.id == category.objectId">
                        <table class="table table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>Maintenance</th>
                                    <th>Type</th>
                                    <th ng-if="isAdmin">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="complimentary in category.complimentaries | orderBy : 'complimentary.maintenance.maintenanceTitle'">
                                    <th>{{ complimentary.maintenance.maintenanceTitle }}</th>
                                    <th>{{ complimentary.maintenance.maintenanceType }}</th>
                                    <th ng-if="isAdmin">
                                        <button class="deleteMaintenance" data-toggle="modal" data-target="#deleteConfirmModal"
                                        ng-click="prepareToDeleteComplimentary(complimentary.objectId, originListOfCategories.indexOf(category), category.complimentaries.indexOf(complimentary))">
                                            delete
                                        </button>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="text-right" ng-if="isAdmin">
                        <button type="button" class="btn btn-success btn-md"
                                data-toggle="modal" data-target="#addComplimentary"
                                ng-click="prepareToAddComplimentary(category.objectId, originListOfCategories.indexOf(category))">
                            Add complimentary
                        </button>
                        <button type="button" class="btn btn-primary btn-md"
                                ng-click="prepareToEditCategory(category.objectId, originListOfCategories.indexOf(category))">
                            Edit
                        </button>
                        <button type="button" class="btn btn-warning btn-md"
                                ng-click="prepareToDeleteCategory(category.objectId, originListOfCategories.indexOf(category))"
                                data-toggle="modal" data-target="#deleteConfirmModal">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Form for add or edit -->
        <div class="editWindow" ng-if="modificationMode">
            <div>
                <button ng-click="back()" class="btn btn-info btn-sm back">
                    <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to categories
                </button>

                <div class="answer">
                    <div ng-if="stage == 'added'">
                        Successfully added! <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                    <div ng-if="stage == 'updated'">
                        Successfully updated! <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-offset-3 col-sm-5 createUpdateForm">
                <form class="form-horizontal" name="createUpdateForm">
                    <div class="form-group">
                        <label for="categoryTitle" class="col-sm-4 control-label">Title</label>
                        <div class="col-sm-6 wrapInput">
                            <input type="text" class="form-control" id="categoryTitle" ng-required="true" ng-model="category.title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="maintenancePrc" class="col-sm-4 control-label">Price</label>
                        <div class="col-sm-6 wrapInput">
                            <input type="number" ng-min="0" min="0" ng-pattern="/^-?[0-9][^\.]*$/"
                                    id="maintenancePrc" class="currencyDlr" 
                                    ng-required="true" ng-model="category.dollars"> $ 
                            <input type="number" ng-min="0" min="0" ng-max="99" max="99" ng-pattern="/^-?[0-9][^\.]*$/"
                                    class="currencyCent"
                                    ng-required="true" ng-model="category.cents"> &cent; 
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-center">
                            <button class="btn btn-primary" ng-disabled="createUpdateForm.$invalid" data-toggle="modal" data-target="#editConfirmModal">OK</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Window for add complimentary on category -->
<div class="modal fade" id="addComplimentary" role="dialog">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-sm vertical-align-center">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header popupheader">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add complimentary</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" name="formAddComplimentary">
                        <div class="form-group">
                            <label for="client" class="col-sm-4 control-label">Maintenance: </label>
                            <div class="col-sm-12">
                                <select id="client" class="form-control" ng-required="true" ng-model="newComplimentary.maintenanceId"
                                    ng-options="maintenance.objectId as maintenance.maintenanceTitle for maintenance in listOfMaintenances | orderBy : maintenance.maintenanceTitle"
                                ></select>
                            </div>
                        </div>
                    </form>
                    <div class="text-right">
                        <button class="btn btn-success" data-dismiss="modal" ng-disabled="formAddComplimentary.$invalid" ng-click="addComplimentary()">Add</button>
                        <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Filters, position fixed -->
<div class="filter-panel">
    <h4>Filtered {{ filteredListOfCategories.length }} records</h4>
    <p>
        price ceiling
        <input type="number" min="0" class="form-control" ng-model="filter.priceTop" ng-change="updateFilter()">
    </p>
    <p>
        lower price limit
        <input type="number" min="0" class="form-control" ng-model="filter.priceBottom" ng-change="updateFilter()">
    </p>
    <button class="btn btn-default" ng-click="resetFilter()">Reset filters</button>
</div>


<ng-include src="'app/admin/template/confirmModalWindows.html'"></ng-include>