    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a role="button" id="loginLink" data-toggle="modal" data-target="#loginModal">Log in</a></li>
                    <li><a role="button" id="signupLink" data-toggle="modal" data-target="#creationModal">Sign up</a></li>
                </ul>
            </div>
            <div id="loggeduser">
                TROLOLOLOLOooooo
            </div>
        </div>
    </nav>

    <div class="modal fade" id="loginModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header popupheader">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body"  ng-controller="login">
                    <form id="authorizeform" method="POST" name='dataavailable' novalidate ng-submit='validateauthform($event)'>
                        <table>
                            <tr>
                                <td><label for="loginform">Email:</label></td><td><input type="text" id="loginform" name="login" title ="Login" placeholder="Enter login" ng-model="userLogin"></td>
                            </tr>
                            <tr>
                                <td><label for="passform">Password:</label></td><td><input type="password" id="passform" name="password" title="Password" placeholder="Enter password" ng-model="userPassword"></td>
                            </tr>
                            <tr><td colspan="2"></td></tr>
                            </table>
                            <br/>
                            <div id="autherror"><p>Email or password is incorrect</p><br/></div>
                    <button type="submit" class="btn btn-success" ng-click='login()'>Login</button>
                    <button type="button" id="loginformclose" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="creationModal" role="dialog" ng-controller="registration">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header popupheader">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Register</h4>
                </div>
                <div class="modal-body" >
                    <form id="usercreationForm" method="post">
                        <table>
                            <tr>
                                <td><label for="logincform">Email:</label></td>
                                <td><input type="text" id="logincform" name="login" title ="Login"
                                           placeholder="Enter email" ng-model="userEmail"></td>
                            </tr>
                            <tr>
                                <td><label for="passcform">Password:</label></td>
                                <td><input type="password" id="passcform" name="password" title ="Password"
                                           placeholder="Enter password" ng-model="userPassword"></td>
                            </tr>
                            <tr>
                                <td><label for="passcrform">Password:</label></td>
                                <td><input type="password" id="passcrform" name="password" title ="Password"
                                           placeholder="Password confirmation" ng-model="userPasswordRepeat"></td>
                            </tr>
                            <tr>
                                <td><label for="nameform">Name:</label></td>
                                <td><input type="text" id="nameform" name="name" title ="Username"
                                           placeholder="Enter your name" ng-model="userName"></td>
                            </tr>
                            <tr>
                                <td><label for="surnameform">Surname:</label></td>
                                <td><input type="text" id="surnameform" name="surname" title ="Surname"
                                           placeholder="Enter your surname" ng-model="userSurname"></td>
                            </tr>
                            <tr>
                                <td><label for="infoform">Info:</label></td>
                                <td><input type="text" id="infoform" name="info" title="Info"
                                           placeholder="Enter additional info" ng-model="userInfo"></td>
                            </tr>
                            <tr>
                                <td><label for="teleform">Phone:</label></td>
                                <td><input type="text" id="teleform" name="telephone" title="Telephone"
                                           placeholder="Insert yor phone" ng-model="userPhone"></td>
                            </tr>
                            <tr><td colspan="2"></td></tr>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="registration()">Register</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>