<div class="col-md-9 order-content">

    <div class="form_main col-md-4 col-sm-5 col-xs-7">
        <h4 class="heading"><strong>Send message</strong> to administrator <span></span></h4>

        <form id="contact-form" role="form" ng-submit="onSendMessage()">

            <div class="messages"></div>

            <div class="controls">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="form_message">Message subject *</label>
                            <textarea id="form_subject" name="message" class="form-control"
                                      placeholder="Message subject *" rows="4" required="required"
                                      data-error="Please,leave us a message subject."  ng-required="true" ng-model="themeMessage"></textarea>
                            <label for="form_message">Message *</label>
                            <textarea id="form_message" name="message" class="form-control"
                                      placeholder="Message for administrator *" rows="4" required="required"
                                      data-error="Please,leave us a message."  ng-required="true" ng-model="message"></textarea>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-default" value="Send message" >
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-muted"><strong>*</strong> These fields are required.</p>
                        <div ng-show="succesfulSentMessage">
                            <p class="bg-primary">Message was sent successful!</p>
                        </div>
                        <div ng-show="notSentMessage">
                            <p class="bg-warning">{{messageResponse}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </form>

    </div>

</div>
