<aside class="col-sm-2 sidebar">
	<ul class="nav nav-sidebar">
		<li><a href="#/admin/notifications">Notifications</a></li>
		<li><a href="#/admin/orders">Orders</a></li>
		<li><a href="#/admin/users">Users</a></li>
		<li><a href="#/admin/rooms">Rooms</a></li>
		<li><a href="#/admin/blocks">Blocks</a></li>
		<li><a href="#/admin/maintenances">Maintenances</a></li>
		<li><a href="#/admin/categories">Categories</a></li>
		<li><a href="#/admin/notificationTypes">Notification types</a></li>
		<li><a href="#/admin/roomTypes">Room types</a></li>
	</ul>
</aside>