<div class="container">

    <ng-include src="'app/admin/template/aside.html'"></ng-include>

    <div class="workspace col-sm-10">

        <!-- Top of workspace -->
        <div class="top col-sm-12">
            <h2>Blocks</h2>
            <button class="btn btn-primary btn-md newEntity" ng-click="prepareToAddBlock()">New block</button>
        </div>
        <ng-include src="'app/admin/template/serverError.html'"></ng-include>


        <!-- List of objects in workspace -->
        <div class="listOfObjects" ng-if="!modificationMode">
            <ul class="pager">
                <li><a ng-click="previousBlocks()"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                <li><input type="number" min="1" max="999" ng-model="pager.objectsOnPage"></li>
                <li><a ng-click="nextBlocks()"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
            </ul>
            <div ng-repeat="block in filteredListOfBlocks.length && filteredListOfBlocks || originListOfBlocks | orderBy : 'blockStartDate' | limitTo : pager.objectsOnPage : pager.startPaging" class="col-sm-4">
                <div class="block-border clearfix">
                    <p class="admin-notes bottom-border"> On room : {{ block.room.roomNumber }} </p>
                    <p class="admin-notes "> Start date: {{ block.blockStartDate | date:'dd.MM.yyyy'}} </p>
                    <p class="admin-notes top-bottom-border"> Finish date: {{ block.blockFinishDate | date:'dd.MM.yyyy'}} </p>
                    <p class="admin-notes"> Reason : {{ block.reason }} </p>
                    <div class="text-right">
                        <button type="button" class="btn btn-primary btn-md"
                                ng-click="prepareToEditBlock(block.objectId, originListOfBlocks.indexOf(block))">
                            Edit
                        </button>
                        <button type="button" class="btn btn-warning btn-md"
                                ng-click="prepareToDeleteBlock(block.objectId, originListOfBlocks.indexOf(block))"
                                data-toggle="modal" data-target="#deleteConfirmModal">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Form for add or edit -->
        <div class="editWindow" ng-if="modificationMode">
            <div>
                <button ng-click="back()" class="btn btn-info btn-sm back">
                    <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to rooms
                </button>

                <div class="answer">
                    <!-- Successfully added -->
                    <div ng-if="added">
                        Successfully added! <i class="fa fa-check" aria-hidden="true"></i>
                    </div>

                    <!-- Successfully updated -->
                    <div ng-if="updated">
                        Successfully updated! <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                </div>

            </div>
            <div class="col-sm-offset-3 col-sm-5 createUpdateForm">
                <form class="form-horizontal" name="createUpdateForm">
                    <div class="form-group">
                        <label for="startDateBlock" class="col-sm-6 control-label"> Start date: </label>
                        <div class="col-sm-6">
                            <input id="startDateBlock" type="date" ng-required="true" ng-model="block.blockStartDate">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="finishDateBlock" class="col-sm-6 control-label"> Finish date: </label>
                        <div class="col-sm-6">
                            <input id="finishDateBlock" type="date" ng-required="true" ng-model="block.blockFinishDate">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="onRoom" class="col-sm-6 control-label"> Block on room number: </label>
                        <div class="col-sm-6">
                            <select id="onRoom" class="form-control" ng-required="true" ng-model="block.roomId"
                                    ng-options="room.objectId as room.roomNumber for room in listOfRooms">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="blockReason" class="col-sm-6 control-label"> Reason: </label>
                        <div class="col-sm-6">
                            <textarea id="blockReason" ng-required="true" ng-model="block.reason">
                            </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-center">
                            <button class="btn btn-primary" ng-disabled="createUpdateForm.$invalid" data-toggle="modal" data-target="#editConfirmModal">OK</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Filters, position fixed -->
<div class="filter-panel">
    <h4>Filtered {{ filteredListOfBlocks.length }} records</h4>
    <p>
        Room number
        <select class="form-control" ng-model="filter.roomId" ng-change="updateFilter()"
            ng-options="room.objectId as room.roomNumber for room in listOfRooms | orderBy: 'roomNumber'">
        </select>
    </p>
    <p>
        By date
        <input type="date" class="form-control" ng-model="filter.onDate" ng-change="updateFilter()">
    </p>
    <button class="btn btn-default" ng-click="resetFilter()">Reset filters</button>
</div>


<ng-include src="'app/admin/template/confirmModalWindows.html'"></ng-include>