<aside class="col-sm-3">
    <div class="info">
        <div class="profilePhoto"></div>
        <p class="name">
            {{ myself.firstName }} {{ myself.lastName }}
        </p>
    </div>
    <ul class="nav nav-sidebar">
        <li><a href="#/personal/settings"><i class="fa fa-cogs" aria-hidden="true"></i> User settings</a></li>
        <li><a href="#/personal/messageToAdmin"><i class="fa fa-envelope-o" aria-hidden="true"></i> Send message to administrator</a></li>
        <li><a href="#"><i class="fa fa-list" aria-hidden="true"></i> Checklist</a></li>
    </ul>
</aside>
