<div class="container personalArea settings">

    <ng-include src="'app/personalArea/template/aside.html'"></ng-include>


    <div class="col-sm-9">

        <div class="listOfObjects" ng-if="stage == 'looking'">
            <ul class="pager">
                <li><a ng-click="previousOrders()"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                <li><input type="number" min="1" max="999" ng-model="pager.objectsOnPage"></li>
                <li><a ng-click="nextOrders()"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
            </ul>
            <div ng-repeat="order in listOfOrders | orderBy : 'objectId' | limitTo : pager.objectsOnPage : pager.startPaging"
                 class="col-sm-12 block-border">
                <div class="admin-notes">
                    <div class="col-sm-12 order-bottom-border order-padding-bottom">
                        <div class="col-sm-4">
                            Order id: {{ order.objectId }}
                        </div>
                        <div class="col-sm-4 text-center">
                            registration date: {{ order.registrationDate | date:'dd.MM.yyyy' }}
                        </div>
                        <div class="col-sm-4 text-right">
                            {{ order.isPaidFor ? 'paid' : 'not paid' }} |
                            {{ order.isConfirmed ? 'confirmed' : "not confirmed" }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 order-right-border">
                            <div class="order-padding-top-bottom order-bottom-border text-center">
                                Living period: {{ order.livingStartDate | date:'dd.MM.yyyy' }} - {{
                                order.livingFinishDate | date:'dd.MM.yyyy' }}
                            </div>
                            <div>
                                <div class="col-sm-6 order-padding-top-bottom text-center order-right-border">
                                    room: {{ order.room.roomNumber }}
                                </div>
                                <div class="col-sm-6 order-padding-top-bottom text-center">
                                    type: {{ order.room.roomType.roomTypeTitle }}
                                </div>
                            </div>
                            <div class="col-sm-12 order-padding-top-bottom text-center order-top-border order-bottom-border">
                                category: {{ order.category.categoryTitle }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <div class="col-sm-12 order-padding-top-bottom  listButton"
                                     ng-if="expand.id != order.objectId" ng-click="expand.id = order.objectId">
                                    List of used maintenance
                                </div>
                                <div class="col-sm-12 order-padding-top-bottom  listButton"
                                     ng-if="expand.id == order.objectId" ng-click="expand.id = 0">
                                    Hide list
                                </div>
                            </div>
                            <div>
                                <div>
                                    <div class="col-sm-4 order-padding-top-bottom order-top-border order-bottom-border">
                                        Living:
                                    </div>
                                    <div class="col-sm-4 order-padding-top-bottom order-top-border order-bottom-border text-center">
                                        Mantenances:
                                    </div>
                                    <div class="col-sm-4 order-padding-top-bottom order-top-border order-bottom-border text-right">
                                        Total:
                                    </div>
                                </div>
                                <div>
                                    <div class="col-sm-4 order-padding-top-bottom">
                                        {{ (order.sum / 100).toFixed(2) }} $
                                    </div>
                                    <div class="col-sm-4 order-padding-top-bottom text-center">
                                        {{ (order.maintenanceSum / 100).toFixed(2) }} $
                                    </div>
                                    <div class="col-sm-4 order-padding-top-bottom text-right">
                                        {{ (order.total / 100).toFixed(2) }} $
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 table-responsive order-top-border" ng-if="expand.id == order.objectId">
                        <table class="table table-striped table-condensed">
                            <thead>
                            <tr>
                                <th>Maintenance</th>
                                <th>Count</th>
                                <th>Cost</th>
                                <th>Used date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="record in order.journalRecords | orderBy : 'usedDate'">
                                <th>{{ record.maintenance.maintenanceTitle }}</th>
                                <th>{{ record.count }}</th>
                                <th>{{ (record.cost / 100).toFixed(2) }} $</th>
                                <th>{{ record.usedDate | date:'dd.MM.yyyy' }}</th>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-sm-12 order-padding-top-bottom order-top-border order-bottom-border"> Comment: {{
                        order.comment }}
                        <div class="col-sm-3">
                        <label for="comment">Comment:</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" id="comment"
                                   ng-model="getChecklist().comment">
                        </div>
                    </div>
                    <div class="col-sm-8 order-padding-top-bottom"> Last modificator: {{ order.lastModificator.firstName
                        }} {{ order.lastModificator.lastName }}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>