<div class="container">

    <ng-include src="'app/admin/template/aside.html'"></ng-include>

    <div class="workspace col-sm-10">

        <!-- Top of workspace -->
        <div class="top col-sm-12">
            <h2>Orders</h2>
            <button class="btn btn-primary btn-md newEntity" ng-click="prepareToAddOrder()">New order</button>
        </div>
        <ng-include src="'app/admin/template/serverError.html'"></ng-include>


        <!-- Looking -->
        <div class="listOfObjects" ng-if="stage == 'looking'">
            <ul class="pager">
                <li><a ng-click="previousOrders()"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                <li><input type="number" min="1" max="999" ng-model="pager.objectsOnPage"></li>
                <li><a ng-click="nextOrders()"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
            </ul>
            <div ng-repeat="order in listOfOrders | orderBy : 'objectId' | limitTo : pager.objectsOnPage : pager.startPaging" class="col-sm-12 block-border">
                <div class="admin-notes">
                    <div class="col-sm-12 order-bottom-border order-padding-bottom">
                        <div class="col-sm-4">
                            Order id: {{ order.objectId }}    
                        </div>
                        <div class="col-sm-4 text-center">
                            registration date: {{ order.registrationDate | date:'dd.MM.yyyy' }}
                        </div>
                        <div class="col-sm-4 text-right">
                            {{ order.isPaidFor ? 'paid' : 'not paid' }} |
                            {{ order.isConfirmed ? 'confirmed' : "not confirmed" }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 order-right-border">
                            <div class="order-padding-top-bottom order-bottom-border text-center">
                                Living period: {{ order.livingStartDate | date:'dd.MM.yyyy' }} - {{ order.livingFinishDate | date:'dd.MM.yyyy' }}
                            </div>
                            <div>
                                <div class="col-sm-6 order-padding-top-bottom text-center order-right-border">
                                    room: {{ order.room.roomNumber }}
                                </div>
                                <div class="col-sm-6 order-padding-top-bottom text-center">
                                    type: {{ order.room.roomType.roomTypeTitle }}
                                </div> 
                            </div>
                            <div class="col-sm-12 order-padding-top-bottom text-center order-top-border order-bottom-border">               
                                category: {{ order.category.categoryTitle }}
                            </div>
                            <div>
                                <div class="col-sm-12 order-padding-top-bottom  listButton"
                                        ng-if="expand.id != order.objectId" ng-click="expand.id = order.objectId">
                                    List of used maintenance
                                </div>
                                <div class="col-sm-12 order-padding-top-bottom  listButton"
                                        ng-if="expand.id == order.objectId" ng-click="expand.id = 0">
                                    Hide list
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-12 order-padding-top-bottom text-center order-bottom-border">
                                Client: {{ order.client.firstName }} {{ order.client.lastName }}
                            </div>
                            <div>
                                <div class="col-sm-6 order-padding-top-bottom">
                                    {{ order.client.email }}
                                </div>
                                <div class="col-sm-6 order-padding-top-bottom text-right">
                                    {{ order.client.phones[0].phoneNumber }}
                                </div>
                            </div>
                            <div>
                                <div>
                                    <div class="col-sm-4 order-padding-top-bottom order-top-border order-bottom-border">
                                        Living:
                                    </div>
                                    <div class="col-sm-4 order-padding-top-bottom order-top-border order-bottom-border text-center">
                                        Mantenances:
                                    </div>
                                    <div class="col-sm-4 order-padding-top-bottom order-top-border order-bottom-border text-right">
                                        Total:
                                    </div>
                                </div>
                                <div>
                                    <div class="col-sm-4 order-padding-top-bottom">
                                        {{ (order.sum / 100).toFixed(2) }} $
                                    </div>
                                    <div class="col-sm-4 order-padding-top-bottom text-center">
                                        {{ (order.maintenanceSum / 100).toFixed(2) }} $
                                    </div>
                                    <div class="col-sm-4 order-padding-top-bottom text-right">
                                        {{ (order.total / 100).toFixed(2) }} $
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 table-responsive order-top-border" ng-if="expand.id == order.objectId">
                        <table class="table table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>Maintenance</th>
                                    <th>Count</th>
                                    <th>Cost</th>
                                    <th>Used date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="record in order.journalRecords | orderBy : 'usedDate'">
                                    <th>{{ record.maintenance.maintenanceTitle }}</th>
                                    <th>{{ record.count }}</th>
                                    <th>{{ (record.cost / 100).toFixed(2) }} $</th>
                                    <th>{{ record.usedDate | date:'dd.MM.yyyy' }}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>                    
                    
                    <div class="col-sm-12 order-padding-top-bottom order-top-border order-bottom-border"> Comment: {{ order.comment }} </div>                    
                    <div class="col-sm-8 order-padding-top-bottom"> Last modificator: {{ order.lastModificator.firstName }} {{ order.lastModificator.lastName }} </div>

                    <div class="col-sm-4 text-right order-padding-top-bottom">
                        <button type="button" class="btn btn-primary btn-md"
                                ng-click="prepareToEditOrder(order.objectId, listOfOrders.indexOf(order))">
                            Edit
                        </button>
                        <button type="button" class="btn btn-warning btn-md"
                                ng-click="prepareToDeleteOrder(order.objectId, listOfOrders.indexOf(order))"
                                data-toggle="modal" data-target="#deleteConfirmModal">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <!-- New order -->
        <div class="editWindow" ng-if="modificationMode">
            <div>
                <button ng-click="back()" class="btn btn-info btn-sm back">
                    <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to orders
                </button>

                <div class="answer">
                    <div ng-if="added">
                        Successfully added! <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                    <div ng-if="updated">
                        Successfully updated! <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                </div>

            </div>
            <div class="col-sm-offset-1 col-sm-10 createUpdateForm">
                <form class="form-horizontal" name="createUpdateForm">
                    <!--<div class="form-group">-->
                        <!--<label for="lastName" class="col-sm-6 control-label">Last Name</label>-->
                        <!--<div class="col-sm-6">-->
                            <!--<input type="text" id="lastName" ng-required="true" ng-model="order.lastName">-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label for="livingStartDate" class="col-sm-6 control-label">Living start</label>
                        <div class="col-sm-6">
                            <input type="text" id="livingStartDate" ng-required="true" ng-model="order.livingStartDate">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="livingFinishDate" class="col-sm-6 control-label">Living finish</label>
                        <div class="col-sm-6">
                            <input type="text" id="livingFinishDate" ng-required="true" ng-model="order.livingFinishDate">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="category" class="col-sm-6 control-label">Category</label>
                        <div class="col-sm-6">
                            <select id="category" class="form-control" ng-required="true" ng-model="order.category"
                                    ng-options="category.objectId as category.categoryTitle for category in listOfCategories">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="room" class="col-sm-6 control-label">Room</label>
                        <div class="col-sm-6">
                            <select id="room" class="form-control" ng-required="true" ng-model="order.room"
                                    ng-options="room.objectId as room.roomNumber for room in listOfRooms">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="client" class="col-sm-6 control-label">Client</label>
                        <div class="col-sm-6">
                            <input type="text" id="client" ng-required="true" ng-model="order.client">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="isPaidFor" class="col-sm-6 control-label">Paid</label>
                        <div class="col-sm-3">
                            <select id="isPaidFor" class="form-control" ng-required="true" ng-model="order.isPaidFor"
                                    ng-options="ispf for ispf in paided">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="isConfirmed" class="col-sm-6 control-label">Confirmed</label>
                        <div class="col-sm-3">
                            <select id="isConfirmed" class="form-control" ng-required="true" ng-model="order.isConfirmed"
                                    ng-options="iscfm for iscfm in confirmed">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sum" class="col-sm-6 control-label">Sum</label>
                        <div class="col-sm-6">
                            <input type="text" id="sum" ng-required="true" ng-model="order.sum">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="comment" class="col-sm-6 control-label">Comment</label>
                        <div class="col-sm-6">
                            <input type="text" id="comment" ng-required="true" ng-model="order.comment">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-center">
                            <button class="btn btn-primary" ng-disabled="createUpdateForm.$invalid" data-toggle="modal" data-target="#editConfirmModal">OK</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<ng-include src="'app/admin/template/confirmModalWindows.html'"></ng-include>