<div class="settings container">

	<ng-include src="'app/personalArea/template/aside.html'"></ng-include>


	<div class="col-sm-9">

	    <h1> User settings </h1>
	    <div class="settingsFields">
	        <form name="mainForm" novalidate>
	        	<div class="groupInput">
		        	<div class="row">
		        		<div class="col-sm-3">
	                    	<label for="firstNameInput">First name:</label>
	                    </div>
	                    <div class="col-sm-6">
	                    	<input type="text" id="firstNameInput"
	                    		ng-model="myself.firstName">
	                	</div>
	                </div>
	                <div class="row">
	                	<div class="col-sm-3">
	                    	<label for="lastNameInput">Last name:</label>
	                    </div>
	                    <div class="col-sm-6">
	                    	<input type="text" id="lastNameInput"
	                    		ng-model="myself.lastName">
	                	</div>
	                </div>
	                <div class="row">
	                	<div class="col-sm-3">
	                    	<label for="emailInput">Email:</label>
	                    </div>
	                    <div class="col-sm-6">
	                    	<input type="email" id="emailInput"
	                    		ng-model="myself.email">
	                	</div>
	                </div>
	            </div>
	            <div class="groupInput">
	                <div class="row">
	                	<div class="col-sm-3">
	                    	<label for="oldPasswordInput">Old password:</label>
	                    </div>
	                    <div class="col-sm-6">
	                    	<input type="password" id="oldPasswordInput"
	                    		ng-model="myself.password">
	                	</div>
	                </div>
	                <div class="row">
	                	<div class="col-sm-3">
	                    	<label for="newPasswordInput">New password:</label>
	                    </div>
	                    <div class="col-sm-6">
	                    	<input type="password" id="newPasswordInput"
	                    		ng-model="myself.password">
	                	</div>
	                </div>
	                <div class="row">
	                	<div class="col-sm-3">
	                		<label for="passwordRepInput">Repeat:</label>
	                    </div>
	                    <div class="col-sm-6">
	                    	<input type="password" id="passwordRepInput"
	                    		ng-model="myself.passwordRep">
	                	</div>
	                </div>
	            </div>

				<!-- <div class="groupInput"> -->
					<!-- <div class="phoneLabel"> -->
			            <!-- <div class="col-sm-3"> -->
		                	<label>Phone Numbers:</label>
		                <!-- </div> -->
				    <!-- </div> -->

		            <div ng-repeat="phone in myself.phones">
			            <div class="offset-col-sm-3 col-sm-6">
	                    	<input type="tel" id="phoneNumberInput"
	                    		ng-model="phone.phoneNumber">
	                	</div>
			        </div>
			    <!-- </div> -->

	            <div class="butt">
                	<button class="btn btn-default">Update</button>
				</div>








                <div ng-show="wasUpdatedUser">
                    <p class="bg-primary">User was updated successful!</p>
                </div>
                <div ng-show="notUpdatedUser">
                    <p class="bg-warning">{{messageUpdate}}</p>
                </div>
	        </form>
	    </div>
	</div>
</div>